.col-100 {
  width: 100%;
}

.col-80{
  width: 80%;
}
.col-20{
  width: 20%;
}

* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
}
